.navbar {
    box-sizing: border-box;
    display: none;
    align-items: center;
    justify-content: center;
    background-color: red;
    position: sticky;
    top: 0;
    margin-bottom: 1rem;
    .nav-link {
        box-sizing: border-box;
        text-decoration: none;
        text-align: center;
        padding: 15px;
        font-size: medium;
        color: black;
        font-weight: bold;
        &:hover {
            color: red;
            background-color: black;
            border-radius: 5px;
            transition: all 0.3s ease-in-out;
        }
    }
}