@import 'defaults';
@import 'navbar';
@import 'menu';
@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    align-items: center;
    justify-content: center;
}

@mixin trans {
    transition: all 0.5s ease-in-out;
}

@mixin imp-heading {
    font-weight: bolder;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

@mixin head-foot {
    background-color: black;
    margin: auto;
    padding: 2rem;
}

.bg {
    background-color: #ccc;
}

.top-head {
    @include head-foot;
    @include flex(column);
    .bars {
        position: absolute;
        top: 1rem;
        right: 1rem;
        color: red;
        font-size: larger;
        font-weight: bold;
    }
    #{&}-small {
        text-align: center;
        color: $color-primary;
    }
    #{&}-large {
        @include imp-heading;
        @extend .top-head-small;
        color: red;
        &:hover {
            font-size: 2.5rem;
        }
    }
    div {
        width: 50%;
        .my-img {
            @include flex(row);
            margin: auto;
            margin-top: 1rem;
            border-radius: 50%;
            border: 2px dashed red;
            padding: 2px;
            max-width: 100%;
        }
    }
}

.flex {
    @include flex(column);
    width: 95%;
    margin: auto;
}

.main {
    background-color: white;
    width: 100%;
    margin: 0.5rem;
    border-radius: 5px;
    #{&}-header {
        @include imp-heading;
        text-align: center;
        margin-top: 1rem;
    }
    #{&}-body {
        .sub-header {
            @include imp-heading;
            text-align: left;
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
        .para {
            margin-bottom: 1rem;
            text-align: justify;
        }
        margin: auto;
        width: 95%;
        font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
        padding: 1rem;
    }
    &:hover {
        background-color: rgb(204, 155, 155);
        color: white;
    }
}

.footer {
    @include head-foot;
    @include flex(column);
    box-sizing: border-box;
    .foot-head {
        @include imp-heading;
        text-align: center;
        color: white;
    }
    .icons {
        box-sizing: border-box;
        color: red;
        @include imp-heading;
        font-size: 2rem;
        i {
            padding: 0.5rem;
            &:hover {
                font-size: 2.2rem;
            }
        }
    }
    p {
        font-size: medium;
        font-weight: bold;
        color: white;
    }
}

@media screen and (min-width:1000px) {
    .nav {
        display: none;
    }
    .flex {
        @include flex(row);
    }
    .top-head {
        @include flex(row);
        .div1 {
            padding-left: 20%;
        }
        .div {
            width: 35%;
            .my-img {
                margin-top: 0;
            }
        }
    }
    .menu-btn {
        display: none;
    }
    .navbar {
        display: flex;
        .nav-link {
            font-size: larger;
        }
    }
}